* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* header styles */
header {
    width: 100%;
    height: auto;
    background-color: #FFF8F3;
    background: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-size: auto 100%, auto 60%;
    background-position: left bottom, right bottom;

}

/* navigaion section styles  */
nav {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5% 0;
}

nav h3 {
    width: 30%;
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    font-family: 'Open Sans', sans-serif;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #FD6E0A;
    font-weight: 600;
}

nav h3 span {
    color: #FD6E0A;
}

nav ul {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10%;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #181818;
    font-size: 20px;
    font-weight: 400;
}

.btn {
    width: 150px;
    height: 64px;
    border-radius: 5px;
    border: none;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
}

.btn:active {
    background-color: #FD6E0A;
    color: white;
}

/* banner styles */
.banner {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title1 {
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner-title2 {
    color: #181818;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-description {
    width: 90%;
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 4% 0;
}

.btn-download {
    width: 200px;
    height: 64px;
    border-radius: 5px;
    border: none;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-download:hover {
    background-color: white;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
}

.btn-download:active {
    background-color: #FD6E0A;
    color: white;
}

.btn-contact {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 2px solid #FD6E0A;
    background-color: none;
    color: #FD6E0A;
    margin-left: 2%;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-contact:hover {
    background-color: #FD6E0A;
    color: white;
}

.btn-contact:active {
    background-color: white;
    color: #FD6E0A;
}

/* main section */
.main-container {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

.about {
    width: 80%;
    height: auto;
    background-color: #FFF8F3;
    border: none;
    border-radius: 10px;
    margin: 10% auto;
    text-align: center;
    padding: 10% 10%;
}

.about-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.about-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 3% 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.info-details {
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

/* what do i do section styles  */
.what-i-do {
    width: 80%;
    margin: 0 auto;
}

.what-i-do-title {
    margin-bottom: 30px;
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}

.what-i-do-description {
    width: 80%;
    margin: 0 auto;
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 5%;
}

/* skill section styles  */
.skill-container {
    display: flex;
    justify-content: space-between;
}

.skill {
    width: 18%;
    display: flex;
    flex-direction: column;
    /* text-align: left !important; */
    border-radius: 5px;
    padding: 3%;
    background: white;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.06);
}

.skill img {
    width: 44px;
    height: 44px;
}

.skill-title {
    color: #181818;
    padding: 30px 0 20px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.skill-description {
    width: 201px;
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* resume section styling  */
.resume {
    width: 80%;
    margin: 0 auto;
    padding-top: 7%;
}

.resume hr {
    border: 1px solid #D1D1D1;
    margin: 5% 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 113px;
}

.resume-content {
    display: flex;
    gap: 5%;
    justify-content: center;

}

.resume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume .title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume .sub-title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume .description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.resume-button {
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
    margin: 3% 0;
}

.cv-download {
    width: 200px;
    height: 64px;
    border-radius: 5px;
    border: none;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.cv-download:hover {
    background-color: white;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
}

.cv-download:active {
    background-color: #FD6E0A;
    color: white;
}

/* footer section styles  */
.footer {
    background: #FFF8F3;
    margin-top: 10%;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
    padding: 10%;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    width: 45%;
    /* padding-top:10% ; */
}

.footer-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.item-description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.social-logos {
    width: 50%;
    display: flex;
    gap: 20px;
}

.footer-item input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    padding: 18px 30px;
}

input {
    height: 32px;
}

.form {
    display: flex;
    flex-direction: column;
}